code/.idea/libraries/Maven__junit_junit_4_11.xml
answer.json
java.io.BufferedReader
java.io.File
java.io.FileReader
java.io.FileWriter
java.io.IOException
java.math.BigInteger
java.net.URI
.vscode/settings.json
code/.classpath
code/code.iml
code/.project
code/.idea/compiler.xml
code/.idea/encodings.xml
code/.idea/modules.xml
code/.idea/misc.xml
code/.idea/workspace.xml
code/.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
code/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
code/.settings/org.eclipse.core.resources.prefs
code/.settings/org.eclipse.jdt.apt.core.prefs
code/.settings/org.eclipse.jdt.core.prefs
code/.settings/org.eclipse.m2e.core.prefs
code/target/code-development.jar
code/target/classes/app/App.class
code/target/classes/app/answer/Answer.class
code/target/classes/app/integration/Integrations.class
code/target/maven-archiver/pom.properties
code/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
code/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
